[Unit]
Description=Thinker-Studio Service
After=network.target

[Service]
Type=simple
User=thinker-studio
Group=thinker-studio
WorkingDirectory=/opt/thinker-studio
Environment="ROBOT_INSIGHT_DATA_DIR=/var/lib/thinker-studio"
Environment="ROBOT_INSIGHT_LOG_DIR=/var/log/thinker-studio"
Environment="ROBOT_INSIGHT_LOG_LEVEL=INFO"
Environment="ROBOT_INSIGHT_PORT=9999"
Environment="ROS_LOG_DIR=/var/log/thinker-studio"
Environment="HOME=/var/lib/thinker-studio"
Environment="RMW_IMPLEMENTATION=rmw_fastrtps_cpp"
Environment="FASTRTPS_DEFAULT_PROFILES_FILE=/opt/thinker-studio/dds_profile.xml"
ExecStart=/opt/thinker-studio/run_server.sh
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target